# .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.egg-info/

.DS_Store
secrets.toml

testing/
retrieval.ipynb
memory_chain.ipynb
llama_guard.ipynb

eval_data/
eval_base.ipynb
eval_ours.ipynb