torch
faiss-cpu
langchain
langchain-experimental
langchain_community
langchain-openai
langchain-elasticsearch
langchain_groq
loguru
openai
streamlit
streamlit_chat
tiktoken
tqdm
FlagEmbedding
elasticsearch
peft
